<!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>login page</title>
  </head>
  <body>

<form action="/login" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit" name="button">Submit</button>
</form>
{{error}}

  </body>
  </html>
