<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h3>Edit a Snippet</h3>

    <a href="/index">Home</a>
    <br>
    <a href='/showSnippet'>See all Snippets!</a>
    <br>
    <a href="/updateSnippet">Edit a Snippet!</a>
    <br>
    <a href="/addSnippet">Make a Snippet!</a>


  </body>
</html>
